<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simulatorapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/boost__1_"
        android:label="@string/app_name"
        android:roundIcon="@drawable/boost__1_"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimulatorApplication">
        <activity
            android:name=".RlAll"
            android:exported="false" />
        <activity
            android:name=".RcAll"
            android:exported="false" />
        <activity
            android:name=".RlI_T"
            android:exported="false" />
        <activity
            android:name=".RlV_T"
            android:exported="false" />
        <activity
            android:name=".RcI_T"
            android:exported="false" />
        <activity
            android:name=".RcV_T"
            android:exported="false" />
        <activity
            android:name=".resultRL"
            android:exported="false" />
        <activity
            android:name=".resultRC"
            android:exported="false" />
        <activity
            android:name=".BoostAll"
            android:exported="false" />
        <activity
            android:name=".BuckAll"
            android:exported="false" />
        <activity
            android:name=".BoostVl_T"
            android:exported="false" />
        <activity
            android:name=".BoostVc_T"
            android:exported="false" />
        <activity
            android:name=".BoostIo_T"
            android:exported="false" />
        <activity
            android:name=".BoostIl_T"
            android:exported="false" />
        <activity
            android:name=".resultBoost"
            android:exported="false" />
        <activity
            android:name=".RL_Circuit"
            android:exported="false" />
        <activity
            android:name=".RC_Circuit"
            android:exported="false" />
        <activity
            android:name=".BuckIl_T"
            android:exported="false" />
        <activity
            android:name=".BuckIo_T"
            android:exported="false" />
        <activity
            android:name=".BuckVl_T"
            android:exported="false" />
        <activity
            android:name=".BuckVc_T"
            android:exported="false" />
        <activity
            android:name=".lineChart1"
            android:exported="false" />
        <activity
            android:name=".resultBuck"
            android:exported="false" />
        <activity
            android:name=".pie_chart"
            android:exported="false" />
        <activity
            android:name=".bar_chart"
            android:exported="false" />
        <activity
            android:name=".BoostConvertor"
            android:exported="false" />
        <activity
            android:name=".BuckConverter"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>